.Die {
    font-size: 10em;
    padding: 0.25em;
    color: slateblue;
}

.Die-shaking {
    /* animation-name: wobble;
    animation-duration: 1s; */
    /* animation: spin 1s ease-in-out; */
    animation: roll3d 1s ease-in-out;
    transform-style: preserve-3d;
}

@keyframes roll3d {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(360deg) rotateY(180deg);
  }
  100% {
    transform: rotateX(720deg) rotateY(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(180deg) scale(1.1);
  }
  50% {
    transform: rotate(360deg) scale(0.95);
  }
  75% {
    transform: rotate(540deg) scale(1.05);
  }
  100% {
    transform: rotate(720deg) scale(1);
  }
}

@keyframes wobble {
    from {
        transform: translate3d(0, 0, 0);
    }

    15% {
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}
